body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 3.5rem;
}

button {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 5;
  padding-right: 5;
}

.main {
  padding-top: 10px;
}

.CalendarItem {
  margin-top: 1px;
  padding: 5px;
}

.Meeting {
  padding-top: 5px;
  padding-bottom: 5px;
}

a.RoomLink {
  color: inherit;
  text-decoration: underline;
}
